<div class="container">
    <section class="container2">
        <div class="item1">
            <img src="../../assets/ft-perfil.jpg" alt="">
            <h2>Maria S.</h2>
            <p>Desde o primeiro contato, senti que estava em boas mãos. A equipe da Card Pass demonstrou total transparência e me deixou seguro durante todo o processo. O empréstimo foi aprovado rapidamente e com condições justas. Recomendo a todos!</p>
        </div>
        <div class="item1">
            <img src="../../assets/ft-perfil.jpg" alt="foto do usuário">
            <h2>João P.</h2>
            <p>Precisava de um empréstimo urgente e, felizmente, encontrei a Card Pass. A agilidade no atendimento e a clareza nas informações me conquistaram. Meus dados foram tratados com total segurança, e o suporte foi excepcional.</p>
        </div>
        <div class="item1">
            <img src="../../assets/ft-perfil.jpg" alt="foto do usuário">
            <h2>Ana L.</h2>
            <p>A Card Pass realmente se destaca pela sua dedicação ao cliente. Fui tratado com respeito e confiança, e o processo de empréstimo foi rápido e descomplicado. É bom saber que existe uma empresa focada em oferecer soluções financeiras seguras.</p>
        </div>
        <div class="item1">
            <img src="../../assets/ft-perfil.jpg" alt="foto do usuário">
            <h2>Carlos T.</h2>
            <p>O que mais me impressionou na Card Pass foi a eficiência no atendimento. A agilidade com que meu empréstimo foi liberado me surpreendeu! Além disso, pude contar com a segurança de uma empresa que realmente se preocupa com seus clientes.</p>
        </div>
    </section>
</div>
