<header class="container">
    <div class="item1">
      <img src="../assets/logo.png" alt="imagem da logo">
      <span>Card Pass</span>
    </div>
    <div class="item2">
      <ul class="item3">
        <li><a routerLink="/home" id="opcoes">Pagina Inicial</a></li>
        <!--<li><button routerLink="/sobre-nos" id="opcoes">Sobre-Nós</button>  tela não cadastrada-->
        <li><a routerLink="../cadastro-usuario" id="opcoes">Login</a></li>
        <li><a routerLink="/cadastro-usuario" id="opcoes">Cadastre-se</a></li>
      </ul>
    </div>
  </header>
  <div id="espace"></div>
  