<div class="container">
    <div class="item1">
        <h1>Realize seu sonho de aluguel<br> ou financiamento!</h1>
        <p>No Card Pass, ajudamos você a encontrar <br>a casa ideal e a conquistar o financiamento <br>que sempre sonhou. Nossa equipe está pronta <br>para oferecer suporte em cada etapa, <br>garantindo uma experiência segura e eficiente.</p>
        <a href="../cadastro-usuario/cadastro-usuario.component.html" id="buttom">Comece Agora</a>
    </div>
    <div class="item2">
        <img src="../../assets/templateHome.png" alt="imagem pessoas interagindo">
    </div>
</div>